# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
*.env

# Notebooks
*.ipynb
.ipynb_checkpoints/

# Logs
*.log

# OS + Editor junk
.DS_Store
Thumbs.db

# Database or model backups
*.sqlite3
*.db
*.bak
*.zip
